paho-mqtt>=2.1.0
python-dotenv>=1.0.1
prometheus_client>=0.21.1
unishox2-py3~=1.0.0
cryptography>=44.0.2
psycopg>=3.2.6
psycopg_pool~=3.2.6
psycopg-binary>=3.2.6
geopy>=2.4.1
psycopg-pool>=3.2.6
APScheduler>=3.11.0

# Meshtastic Protocol Buffers
meshtastic-protobufs-protocolbuffers-python==29.3.0.1.20241006120827+cc36fd21e859
--extra-index-url https://buf.build/gen/python